doctype html
html
   head
       title='Express CheckPoint'
       
   body
   include ./NavBar
.container
  .row.justify-content-md-center
   .card(style='width: 18rem;')
      img.card-img-top(src='https://avatars3.githubusercontent.com/u/69900730?s=460&u=80577c86428680430ec26dd698f656d94e15eeb6&v=4', alt='image Chokri Hamza')
      .card-body
       h5.card-title Chokri Hamza
       p.card-text
       | Hello am Chokri Hamza you can contact me at any Time
       P mail:chokrihamza1994@gmail.com 
       P Tel:09988861
       a.btn.btn-primary(href='https://github.com/chokrihamza') Link Git Hub
       
