doctype html
html
   head
    title='Express CheckPoint'
    style
        include ./OurServices.css
   body
      include ./NavBar
.container-fluid 
 .row.justify-content-md-center
  .col.col-lg-4
   .card.mb-3(style='max-width: 540px;')
    .row.no-gutters
     .col-md-4
       img.card-img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9asRDthDxdLkfbnirNodJ4XAZsuwx8ok5rA&usqp=CAU', alt='MongoDb')
     .col-md-8
      .card-body
        h5.card-title Card title
        p.card-text
          | MongoDB is a cross-platform document-oriented database program. Classified as a NoSQL database program, MongoDB uses JSON-like documents with optional schemas. MongoDB is developed by MongoDB Inc. and licensed under the Server Side Public License (SSPL).
        p.card-text
          small.text-muted Last updated 3 mins ago
          .col.col-lg-4
   .card.mb-3(style='max-width: 540px;')
    .row.no-gutters
     .col-md-4
       img.card-img(src='https://murviel-info-beziers.com/wp-content/uploads/2020/07/nodeJS.jpeg', alt='NodeJs')
     .col-md-8
      .card-body
        h5.card-title NodeJs
        p.card-text
          | Node.js is an open-source, cross-platform,
          | back-end, JavaScript runtime environment that executes JavaScript
          | code outside a web browser. Node.js lets developers use JavaScript 
          |to write command line tools and for server-side scripting—running scripts
          | server-side to produce dynamic web page content before the page is sent to the user's web browser. Consequently,
          |Node.js represents a "JavaScript everywhere" paradigm,[6] unifying
          |web-application development around a single programming language,
          | rather than different languages for server- and client-side scripts.
        p.card-text
          small.text-muted Last updated 3 mins ago
          .col.col-lg-4
   
